<div data-role="view" data-title="Edit" data-model="app.home.editItemViewModel" data-bind="events: { show: onShow }" id="homeModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: strings.home.homeModel.editScreenHeaderValue"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <div id="editableListForm5" class="form-view screen__content screen__content--form">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="placaField" class="field km-listview-label field--text km-label-above">
                        <span class="field__label" data-bind="text: strings.home.homeModel.editableListForm4.placa.title"></span>


                        <input id="placa" data-bind="value: editFormData.placa" type="text">

                    </label>
                </li>
                <li class="form-content-item">
                    <label id="descripcionField" class="km-label-above field field--textarea">

                        <span class="field__label" data-bind="text: strings.home.homeModel.editableListForm4.descripcion.title"></span>

                        <textarea rows="7" data-bind="value: editFormData.descripcion"></textarea>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm5 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_editableListForm5 -->
    </div>
</div>